<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--    https://docs.spring.io/spring-boot/how-to/logging.html-->
    <!--    https://docs.spring.io/spring-boot/reference/features/logging.html-->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <property name="log.path" value="logs"/>
    <!--    <property name="LOG_FILE" value="logs/console.log"/>-->
    <include resource="org/springframework/boot/logging/logback/file-appender.xml"/>

    <appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/%d{yyyy-MM, aux}/%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>100MB</maxFileSize>
            <maxHistory>14</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="ROLLING"/>
        <!--   <appender-ref ref="FILE"/>-->
    </root>
</configuration>
